force-app/main/default/flows/Conductor_Tool_Creation_SF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Conductor_MDT</name>
        <label>Update Conductor MDT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mf_FlowUtils_UpdateConductorMDT</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldUpdates</name>
            <value>
                <elementReference>metadataKeyValuePairs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>masterLabels</name>
            <value>
                <elementReference>conductorsList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mf_FlowUtils_UpdateConductorMDT</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Metadata_Fields_Values_Pair</name>
        <label>Set Metadata Fields Values Pair</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>metadataKeyValuePairs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>mrhewbuc__hasTools__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>metadataKeyValuePairs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Associations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tool</name>
        <label>Set Tool</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ConductorTool.Tools__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConductorTools.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ConductorTool.Conductor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LP.Conductor_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recColl_ConductorTools</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_ConductorTool</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conductorsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LP.Conductor_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tool_Values</name>
        <label>Set Tool Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConductorTools.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tool</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConductorTools.Properties__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Properties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tool</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Needs_Association</name>
        <label>Needs Association ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>needsAssociate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Association</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pic_Conductor</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>MFConductors__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>MasterLabel</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pic_Flows</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApiName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>tool</stringValue>
            </value>
        </filters>
        <object>FlowRecord</object>
        <valueField>ApiName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Conductor Tool Creation - SF {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Conductor Tool Creation - SF</label>
    <loops>
        <name>LP</name>
        <label>LP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Conductors.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Tool</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Metadata_Fields_Values_Pair</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Associations</name>
        <label>Create Associations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Conductor_MDT</targetReference>
        </connector>
        <inputReference>recColl_ConductorTools</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tool</name>
        <label>Create Tool</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Needs_Association</targetReference>
        </connector>
        <inputReference>ConductorTools</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Tools</name>
        <label>Get Tools</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tool_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowLabel</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>tool</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowRecord</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Association</name>
        <label>Create Association</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LP</targetReference>
        </connector>
        <fields>
            <name>Conductors</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Conductor_Name</name>
                <choiceReferences>pic_Conductor</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Conductor Name</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Associate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tool_Creation</name>
        <label>Tool Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Tool_Values</targetReference>
        </connector>
        <fields>
            <name>HeaderDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Conductor Tools Creation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tool_Creation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tool_Creation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tool</name>
                    <choiceReferences>pic_Flows</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Flow Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tool_Creation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ConductorTools.Description__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ConductorTools.Required_Params__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Properties</name>
            <fieldText>Properties as JSON String</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>needsAssociate</name>
            <dataType>Boolean</dataType>
            <fieldText>Associate with a Conductor?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Tool</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tools</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>conductorsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConductorTools</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MFTools__c</objectType>
    </variables>
    <variables>
        <name>metadataKeyValuePairs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rec_ConductorTool</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MFConductorTools__c</objectType>
    </variables>
    <variables>
        <name>recColl_ConductorTools</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MFConductorTools__c</objectType>
    </variables>
</Flow>
