force-app/main/default/flows/func_GetPicklistValues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Outout</name>
        <label>Set Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>out_PicklistString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_CleanPicklistString</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetOutputString</name>
        <label>Set Output String</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PicklistValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LP.Value},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LP</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>for_CleanPicklistString</name>
        <dataType>String</dataType>
        <expression>LEFT({!PicklistValues}, LEN({!PicklistValues}) - 1)</expression>
    </formulas>
    <interviewLabel>func_GetPicklistValues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>func_GetPicklistValues</label>
    <loops>
        <name>LP</name>
        <label>LP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PicklistValueInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetOutputString</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Outout</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PicklistValueInfo</name>
        <label>PicklistValueInfo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_ObjectFields</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PicklistValueInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>in_ObjectFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>out_PicklistString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
