force-app/main/default/flows/OpenAI_Async_Call_Response_Endpoint.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_OpenAI</name>
        <label>Call OpenAI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mrhewbuc::OpenAIRs.createResponse</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>ResponseCode</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Request</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mrhewbuc::OpenAIRs.createResponse</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_Properties</name>
        <label>Set Properties</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mf_FlowUtils_OpenAI_ToolObjRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Tool</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>propertiesJson</name>
            <value>
                <stringValue>{&quot;ani&quot;:{&quot;type&quot;:&quot;string&quot;,&quot;description&quot;:&quot;Customer code&quot;}}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toolObject</name>
            <value>
                <elementReference>Tool</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mf_FlowUtils_OpenAI_ToolObjRequest</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Tool</name>
        <label>Add Tool</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Request.tools</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tool</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_OpenAI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_200_Response</name>
        <label>Set 200 Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_OpenAI.200</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Base_Request</name>
        <label>Set Base Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Request.parallelx5ftoolx5fcalls</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.maxx5ftoolx5fcalls</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configs.MaxToolsCalls__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.model</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configs.AIModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.toolx5fchoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.promptx5fcachex5fkey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_ConductorName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Function_Reply</name>
        <label>Set Function Reply</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Request.input</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputMsgObj</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.previousx5fresponsex5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PreviousMsgID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_OpenAI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Instructions</name>
        <label>Set Instructions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Request.instructions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_NewInstructions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tools</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Memory_Id</name>
        <label>Set Memory Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Request.previousx5fresponsex5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PreviousMsgID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prompt_Overwritten</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSONTextString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Content.text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Content</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_System_Prompt</name>
        <label>Set System Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InputMsgObj.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>developer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MsgContent.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>input_text</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MsgContent.text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configs.System_Prompt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMsgObj.content</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MsgContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.input</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputMsgObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tools</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tool</name>
        <label>Set Tool</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Tool.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>function</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tool.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tool_get_active_asset_list</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tool.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrieve all active assets for a given customer. The caller must provide the customer code (ani).</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tool.parameters.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>object</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tool.parameters.required</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ani</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tool.parameters.additionalProperties</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Properties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tool_Output</name>
        <label>Set Tool Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSONTextString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Output.arguments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Signal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Prompt</name>
        <label>Set User Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MsgContent.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>input_text</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MsgContent.text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_UserPrompt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMsgObj.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMsgObj.content</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MsgContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.input</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputMsgObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Memory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Function_Call</name>
        <label>Function Call?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Extract_Content</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Needed</defaultConnectorLabel>
        <rules>
            <name>Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Extract_Output.z0type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>function_call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tool_Output</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Memory</name>
        <label>Memory?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Prompt_Overwritten</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Memory</defaultConnectorLabel>
        <rules>
            <name>HasMemory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PreviousMsgID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Memory_Id</targetReference>
            </connector>
            <label>HasMemory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prompt_Overwritten</name>
        <label>Prompt Overwritten?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_System_Prompt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_NewInstructions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Instructions</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponseCode</name>
        <label>ResponseCode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_200_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_OpenAI.responseCode</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source</name>
        <label>Source?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Function_Reply</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Function</defaultConnectorLabel>
        <rules>
            <name>Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_Source</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Prompt</targetReference>
            </connector>
            <label>Direct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tools</name>
        <label>Tools ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Call_OpenAI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasTools</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_hasCustomTools</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tool</targetReference>
            </connector>
            <label>HasTools</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OpenAI - Async Call - Response Endpoint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpenAI - Async Call - Response Endpoint</label>
    <loops>
        <name>Extract_Content</name>
        <label>Extract Content</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Extract_Output.content</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Output</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Extract_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Extract_Output</name>
        <label>Extract Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Response.output</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Function_Call</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Signal</name>
        <label>Create Signal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Extract_Output</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>function_call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conductor__c</field>
            <value>
                <elementReference>in_ConductorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ItemId__c</field>
            <value>
                <elementReference>Extract_Output.callx5fid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JSONString__c</field>
            <value>
                <elementReference>Extract_Output.arguments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target__c</field>
            <value>
                <elementReference>Extract_Output.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thread__c</field>
            <value>
                <elementReference>Call_OpenAI.200.id</elementReference>
            </value>
        </inputAssignments>
        <object>MFSignals__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Configs</name>
        <label>Configs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Base_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_ConductorName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MFConductors__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Configs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>in_ConductorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_hasCustomTools</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>in_NewInstructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_PreviousMsgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_UserPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputMsgObj</name>
        <apexClass>ExternalService__mrhewbuc__OpenAIRs_VT_InputMessages</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JSONTextString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MsgContent</name>
        <apexClass>ExternalService__mrhewbuc__OpenAIRs_VT_MessageContent</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Request</name>
        <apexClass>ExternalService__mrhewbuc__OpenAIRs_Request</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <apexClass>ExternalService__mrhewbuc__OpenAIRs_Response</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tool</name>
        <apexClass>ExternalService__mrhewbuc__OpenAIRs_VT_Tools</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToolCalls</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
