force-app/main/default/flows/OpenAI_Async_Agent_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Response_API</name>
        <label>Call Response API</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OpenAIRs.createResponse</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>ResponseCode</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Request</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpenAIRs.createResponse</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_200_Response</name>
        <label>Set 200 Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Response_API.200</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Base_Request</name>
        <label>Set Base Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Request.model</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gpt-4.1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.maxx5ftoolx5fcalls</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.promptx5fcachex5fkey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PromptKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.parallelx5ftoolx5fcalls</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.toolx5fchoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>auto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Memory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_input_Object</name>
        <label>Set input Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InputObj.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObjContent.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>input_text</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObjContent.text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_UserPrompt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObj.content</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputObjContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.input</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputObj</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObj.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>developer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObjContent.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>input_text</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObjContent.text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_SystemPrompt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObj.content</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputObjContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.input</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Response_API</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Instructions</name>
        <label>Set Instructions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Request.instructions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_SystemPrompt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObj.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObjContent.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>input_text</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObjContent.text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_UserPrompt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputObj.content</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputObjContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.input</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Response_API</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_Id</name>
        <label>Set Message Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Request.previousx5fresponsex5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>in_PreviousMsgId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Overwrite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSONTextString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Content.text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Content</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Memory</name>
        <label>Memory ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_input_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no Memory</defaultConnectorLabel>
        <rules>
            <name>HasMemory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_PreviousMsgId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Message_Id</targetReference>
            </connector>
            <label>HasMemory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overwrite</name>
        <label>Prompt Overwrite ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Call_Response_API</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>in_SystemPromptOverwrite</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Instructions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponseCode</name>
        <label>ResponseCode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_200_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sucess</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Response_API.responseCode</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <label>Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OpenAI - Async Agent - Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpenAI - Async Agent - Response</label>
    <loops>
        <name>Extract_Content</name>
        <label>Extract Content</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Extract_Output.content</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Output</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Extract_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Extract_Output</name>
        <label>Extract Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Response.output</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Extract_Content</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Base_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>in_PreviousMsgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_PromptKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_SystemPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>in_SystemPromptOverwrite</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>in_UserPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputObj</name>
        <apexClass>ExternalService__OpenAIRs_VT_InputMessages</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputObjContent</name>
        <apexClass>ExternalService__OpenAIRs_VT_MessageContent</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JSONTextString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Request</name>
        <apexClass>ExternalService__OpenAIRs_Request</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <apexClass>ExternalService__OpenAIRs_Response</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
