force-app/main/default/flows/Sample_Conductor_Engine_Case_Classification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_User_Prompt</name>
        <label>Set User Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>userPrompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Classify my case.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userPrompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[subject:{!recIn_Case.Subject}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userPrompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[description:{!recIn_Case.Description}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userPrompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[case id:{!recIn_Case.Id}]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_OpenAI</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Sample - Conductor Engine - Case Classification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sample - Conductor Engine - Case Classification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_User_Prompt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_OpenAI</name>
        <label>Call OpenAI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>OpenAI_Async_Call_Response_Endpoint</flowName>
        <inputAssignments>
            <name>in_ConductorName</name>
            <value>
                <stringValue>CaseClassifier</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>in_UserPrompt</name>
            <value>
                <elementReference>userPrompt</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recIn_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>userPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
