force-app/main/default/flows/Signals_PEvent_Orchestrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Async_Call_Flow</name>
        <label>Async Call Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>mf_FlowUtils_AsyncFlowCall</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>$Record.Target__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSignal</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>$Record.JSONString__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>options</name>
            <value>
                <elementReference>Options</elementReference>
            </value>
        </inputParameters>
        <nameSegment>mf_FlowUtils_AsyncFlowCall</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Options</name>
        <label>Set Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thread</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Thread__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>item</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ItemId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>conductor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Conductor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Async_Call_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Conductor</defaultConnectorLabel>
        <rules>
            <name>Function_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.mrhewbuc__Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>function_call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Options</targetReference>
            </connector>
            <label>Function Call</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mr. Flow - Signals {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Signals - PEvent - Orchestrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>MFSignals__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Options</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
