force-app/main/default/flows/tool_flow_template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_CallID</name>
        <label>Set CallID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CallID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Coductor</name>
        <label>Set Coductor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConductorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Response</name>
        <label>Set Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[&quot;3519292832872&quot;,&quot;5522334504094&quot;]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>options</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>options</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSignal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isSignal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jsonString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jsonString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMesage.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>function_call_output</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMesage.callx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputMesage.output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Output</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_OpenAI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Thread</name>
        <label>Set Thread</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ResponseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Values</name>
        <label>Get Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Thread</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>thread</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResponseID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>thread</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Thread</targetReference>
            </connector>
            <label>Thread</label>
        </rules>
        <rules>
            <name>Item</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>item</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CallID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CallID</targetReference>
            </connector>
            <label>Item</label>
        </rules>
        <rules>
            <name>Conductor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>conductor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConductorName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>conductor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Coductor</targetReference>
            </connector>
            <label>Conductor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>tool_flow_template {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>tool_flow_template</label>
    <loops>
        <name>LP</name>
        <label>LP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>options</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Response</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LP</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Call_OpenAI</name>
        <label>Call OpenAI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>OpenAI_Async_Call_Response_Endpoint</flowName>
        <inputAssignments>
            <name>in_ConductorName</name>
            <value>
                <elementReference>ConductorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>in_PreviousMsgID</name>
            <value>
                <elementReference>ResponseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>in_Source</name>
            <value>
                <stringValue>function_call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputMsgObj</name>
            <value>
                <elementReference>InputMesage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConductorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputMesage</name>
        <apexClass>ExternalService__mrhewbuc__OpenAIRs_VT_InputMessages</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSignal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jsonString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>options</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
