force-app/main/default/flows/tool_get_case_classification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ToolOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[CaseReasons:{!CaseReasons}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToolOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[CaseTypes:{!CaseTypes}]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_Conductor</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>tool_get_case_classification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tool_get_case_classification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTypeValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetReasonValues</name>
        <label>Get Reason Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
        <flowName>func_GetPicklistValues</flowName>
        <inputAssignments>
            <name>in_ObjectFields</name>
            <value>
                <stringValue>Case.Reason</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseReasons</assignToReference>
            <name>out_PicklistString</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GetTypeValues</name>
        <label>Get Type Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetReasonValues</targetReference>
        </connector>
        <flowName>func_GetPicklistValues</flowName>
        <inputAssignments>
            <name>in_ObjectFields</name>
            <value>
                <stringValue>Case.Type</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseTypes</assignToReference>
            <name>out_PicklistString</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_to_Conductor</name>
        <label>Send to Conductor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>func_SetToolCallOutput</flowName>
        <inputAssignments>
            <name>in_ToolCallResult</name>
            <value>
                <elementReference>ToolOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isSignal</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>jsonString</name>
            <value>
                <elementReference>jsonString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>options</name>
            <value>
                <elementReference>options</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jsonString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>options</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToolOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
